<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный англо-русский словарик</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .add-word-content-block {
      margin-top: 100px;
    }
  </style>
</head>
<body ng-app="reminderApp">
<div class="container">
  <div class=" col-xs-8 col-xs-offset-2">
    <uib-tabset active="0" justified="true" type="pills">
      <uib-tab index="0" heading="Добавить слово">
        <div ng-controller="addWordCtrl" class="panel panel-primary add-word-content-block">
          <div class="panel-heading">
            Добавить слово
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Русский</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="russianWord" id="inputEmail3"
                         placeholder="Введите слово на русском языке">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Английский</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="englishWord" id="inputPassword3"
                         placeholder="Введите перевод этого слова на английском">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary pull-right" ng-click="addWords(russianWord, englishWord)"
                          ng-disabled="(!englishWord || !russianWord)">Добавить слово
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="Все сохраненные слова">
        <div ng-controller="getAllWords">
          <h3 class="pull-right">Всего слов: <span class="label label-primary">{{ wordsSize }}</span></h3>

          <table class="table table-condensed">
            <thead>
            <tr>
              <th class="text-center">С русского</th>
              <th class="text-center">На английский</th>
              <th class="text-center">Удаление</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="word in words">
              <td ng-if="!word.canChange" class="text-center" ng-click="changeWord(word)" ng-bind="word.ru"></td>
              <td ng-if="!word.canChange" class="text-center" ng-click="changeWord(word)" ng-bind="word.en"></td>
              <td ng-if="word.canChange" class="text-center">
                <input type="text" class="form-control" ng-model="word.ru" id="inputEmail3"
                       placeholder="Введите слово на русском языке"></td>
              <td ng-if="word.canChange" class="text-center">
                <input type="text" class="form-control" ng-model="word.en" id="inputEmail3"
                       placeholder="Введите слово на русском языке">
              </td>

              <td ng-if="!word.canChange" class="text-center text-danger">
                <span style="cursor: pointer" class="glyphicon glyphicon-remove" ng-click="removeWord(word.id)"></span>
              </td>

              <td ng-if="word.canChange" class="text-center text-success">
                <button style="cursor: pointer" class="btn btn-danger" ng-click="cancelChange(word)">Отмена</button>
                <button style="cursor: pointer" class="btn btn-primary" ng-click="updateWord(word)"
                        ng-disabled="(!word.ru || !word.en)">Сохранить
                </button>
              </td>
            </tr>
            </tbody>
          </table>


          <div class="text-center">
            <button ng-click="reloadWords()" class="btn btn-primary">Обновить все</button>
          </div>

        </div>
      </uib-tab>
      <uib-tab index="2" heading="Настройка notify">
        <div ng-controller="settingCtrl" class="panel panel-primary add-word-content-block">
          <div class="panel-heading">Настройка notify</div>
          <div class="panel-body">
            <form class="form-horizontal">
              <h4>Через какой промежуток времени показывать?</h4>
              <h6>Текущий период обновления: {{ mySetting.title }}</h6>
              <div class="form-group">
                <div class="col-sm-12">
                  <select class="form-control" ng-model="mstep"
                          ng-options="opt.title for opt in options.mstep"></select>
                </div>
              </div>
              <div ng-if="showAlert" uib-alert class="alert alert-info">Успешно сохранил настройки</div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary pull-right" ng-click="saveStep(mstep)"
                          ng-disabled="!mstep">Сохранить
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/lodash/dist/lodash.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/angular/angular.min.js"></script>
<script src="js/ui.bootstrap.js"></script>

<script src="js/angular/app.js"></script>
<script src="js/angular/config/config.js"></script>
<script src="js/angular/controllers/addWord.ctrl.js"></script>
<script src="js/angular/controllers/getAllWords.ctrl.js"></script>
<script src="js/angular/controllers/setting.ctrl.js"></script>
</body>
</html>